body {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;


}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
    padding: 16px;
    font-size: 16px;
    font-style: italic;
    flex-wrap: wrap;
    flex: 1;
    flex-shrink: 0;
    

}
.header-logo {
    font-size: 24px;
}


ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.info {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}

img {
    height: 200px;
    width: 200px;
}

.text {
   
    font-size: 16px;
    
}
.button {
   background-color: royalblue;
   border: 1px solid royalblue;
   color: white;
   padding: 8px 16px;
   border-radius: 8px;
   text-align: center;
   display: inline-block;
   font-size: 16px;
}

.main-info {
    display: flex;
    gap: 32px;
    padding: 75px;
    align-items: center;
    justify-content: center;

}
.main-content {
    display: flex;
    padding: 16px;
    gap: 16px;
}

.photograph {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 0;

}
.container {
    display: flex;
    justify-content: center;
    gap: 8px; 
    flex-wrap: wrap; 
    flex: 1; 
}
photo {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.allpics {
    display: flex;
    justify-content: center;
    align-items: center; 
   
}
.testimonial {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    flex: 1; 
    flex-wrap: wrap;
    flex-shrink: 0;
}

.application {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.signup-button {
    background-color: royalblue;
   border: 1px solid white;
   color: white;
   padding: 8px 16px;
   border-radius: 6px;
   text-align: center;
   display: inline-block;
   font-size: 16px;
}
.sub {
    display: flex;
    flex-wrap: wrap;
   flex-shrink: 0;
    padding: 16px;
    background-color: royalblue;
    color: white;
    border-radius: 25px;
}
.txt {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 16px;
}

.signup-button {
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    font-size: 16px;
    flex: 1;
    padding: 16px;
}









