body {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
    padding: 16px;
    font-size: 16px;
    font-style: italic;
    flex-wrap: wrap;
    flex: 1;
    flex-shrink: 0;


}

ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.info {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}

img {
    height: 400px;
    width: 400px;
    display: flex;


}

.text {
    display: flex;
    align-items: center;
    
}
.button {
   background-color: royalblue;
   border: 1px solid royalblue;
   color: white;
   padding: 8px 16px;
   border-radius: 8px;
   text-align: center;
   display: inline-block;
}

.main-content {
    display: flex;
    gap: 16px;
    

}





